<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
  <app-stats [bgClass]="'danger'" [icon]="'dashboard'" [count]="23" [label]="'Deals'" [routeData]="'deals'"></app-stats>
  </div>
  <div fxFlex>
  <app-stats [bgClass]="'danger'" [icon]="'dashboard'" [count]="23" [label]="'Deals'" [routeData]="'deals'"></app-stats>
  </div>
  <div fxFlex>
  <app-stats [bgClass]="'danger'" [icon]="'dashboard'" [count]="23" [label]="'Deals'" [routeData]="'deals'"></app-stats>
  </div>
  <div fxFlex>
  <app-stats [bgClass]="'danger'" [icon]="'dashboard'" [count]="23" [label]="'Deals'" [routeData]="'deals'"></app-stats>
  </div>
  <div fxFlex>
  <app-stats [bgClass]="'danger'" [icon]="'dashboard'" [count]="23" [label]="'Deals'" [routeData]="'deals'"></app-stats>
  </div>
</div>
