<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> dslfj
    </a>

    <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createdeals']">
      <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Create Deal' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createproducts']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Create Products' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createads']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Create Ads' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/deals']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Deals' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/deals/products']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Products' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createdata/brand']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Brands' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createdata/category']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Category' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createdata/stores']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Stores' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/deals/ads']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Ads' | translate }}
    </a> -->

    <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/edit']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Edit Deals' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/edit']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Edit Products' | translate }}
    </a> -->
  </mat-nav-list>
</div>
